input {
  width: 80%;
  height: 40px;
  margin: 5px;
}
.submitBtn {
  height: 40px;
  margin-left: 60%;
  font-weight: 400;
  border-radius: 5px;
}
.submitBtn:hover {
  background-color: green;
  color: white;
}
